<!DOCTYPE html>
<html>
  <head>
    <title>Product List</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"></script>
  </head>
  <body class="bg-gray-100 p-10">
    <h1>Products</h1>
    <br />
    <a
      href="{{ url_for('create') }}"
      class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
      >Add Product</a
    >
    <br />
    <br />
    <table class="min-w-full bg-white rounded shadow" id="default-table">
      <tr>
        <th class="py-3 px-6 text-left">Name</th>
        <th class="py-3 px-6 text-left">Price</th>
        <th class="py-3 px-6 text-left">Quantity</th>
        <th class="py-3 px-6 text-left">Actions</th>
      </tr>
      <tbody class="text-gray-700 text-sm">
        {% for p in products %}
        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6 text-left">{{ p.name }}</td>
          <td class="py-3 px-6 text-left">{{ p.price }}</td>
          <td class="py-3 px-6 text-left">{{ p.quantity }}</td>
          <td class="py-3 px-6 text-left">
            <a
              href="{{ url_for('edit', id=p.id) }}"
              class="text-blue-500 hover:underline"
              >Edit</a
            >
            <form
              method="POST"
              action="{{ url_for('delete', id=p.id) }}"
              style="display: inline"
            >
              <button
                type="submit"
                class="bg-none text-blue-700 hover:underline"
                onclick="return confirm('Delete product?')"
              >
                Delete
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
